.search-area {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    & > input {
      min-width: inherit;
    }
  }
}
.ant-dropdown {
  z-index: 1000 !important;
}
