.ant-modal-root {
  .ant-spin-spinning {
    display: flex !important;
    justify-content: center !important;
  }

  .main-collapse-title {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .ant-modal-body {
    overflow-y: auto;
    .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
      padding: 0 !important;
      .ant-collapse {
        margin-left: 10px !important;
      }
    }
  }
}
