* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root {
  --search-area-height: 32px;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

.title {
  font-size: 50px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-100% - var(--search-area-height) / 2 - 20px));
}
